.grid__card {
  width: 350px;
  border-radius: 10px;
  height: 350px;
  margin: 1em;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid__card:hover {
  cursor: pointer;
}

.grid__card--image {
  width: 60%;
  height: 70%;
}

h3 {
  color: black;
}


@media screen and (max-width: 500px){
  .grid__card {
    width: 95%;
    margin: .9rem auto;
  }
}