.pagination {
  margin-bottom: 1rem;
}

.button {
  width: 40px;
  height: 30px;
  margin: 5px 3px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  background: #2a2a2a;
}

.button:hover {
  background: #4f4f4f;
}

button.active {
  border: 2px solid white;
}