#root {
  margin: 0 auto;
  text-align: center;
}

.pokemon__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

@media screen and (max-width: 900px){
  .pokemon__container {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media screen and (max-width: 500px){
  .pokemon__container {
    grid-template-columns: 1fr
  }
}